{% extends "base_generic.html" %}
<link rel="stylesheet" href="css/index.css">

{% block content %}
  <div class="title">
    <a href="{% url 'index' %}"><h1>Flick</h1></a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <input id="searchbar" type="text" name="search" placeholder="Tell me what you're looking for.." />
        <div class="filter">
          <h4>Filters</h4>

          <div class="option">
            <ul>
              <input type="checkbox" name="" value="mon"/> Monday<br/>
              <input type="checkbox" name="" value="tue"/> Tuesday<br/>
              <input type="checkbox" name="" value="wed"/> Wednesday<br/>
              <input type="checkbox" name="" value="thu"/> Thursday<br/>
              <input type="checkbox" name="" value="fri"/> Friday<br/>
              <input type="checkbox" name="" value="sat"/> Saturday<br/>
              <input type="checkbox" name="" value="sun"/> Sunday<br/>
              <hr class="my-4">
              <input type="checkbox" name="" value="action" /> Action<br />
              <input type="checkbox" name="" value="action" /> Drama<br />
              <input type="checkbox" name="" value="action" /> Horror<br />
              <input type="checkbox" name="" value="action" /> Comedy<br />
              <input type="checkbox" name="" value="action" /> Animation<br />
              <input type="checkbox" name="" value="action" /> Documentary<br />
              <input type="checkbox" name="" value="action" /> Fiction<br />
            </ul>
          </div>

          <a class="search-btn" href="#">Search</a>
        </div>
      </div>

      <div class="col-lg-8">
        {% if movie_list %}
          <div class="movielist">
            <div class="list-group">
              
                <div class="row">
                {% for movie in movie_list %}
                <a href="{% url 'movie' movie.movie_id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                	<div class="col-md-3">
                		<img class="poster" src="{{movie.picture_url}}">
                	</div>
                	<div class="col-md-9">
                		<h5 class="mb-1">{{movie.title}}</h5>
                		<p class="mb-1">{{movie.summary}}</p>
                		<small>Director: {{movie.director}}</small>
                		<small>Cast: {{movie.cast}}</small>
                  </div>
                </a>
                {% endfor %}
                </div>
              </a>
            </div>
          </div>
        {% else %}
        	<p>There are no movies in the library.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}


